* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #E4E4E4;
    background-image: linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #A7A7A7), color-stop(0.51, #E4E4E4) );
    background-attachment: fixed;
    font-size: 1em;
    height: 100%;
    margin: 0;
    padding: 0;
    /*text-transform:uppercase;*/
    width: 75%;
    background-color: #32383d;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
}

#deviceready {
    background: url("../images/logo_inaga.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: auto !important;
    min-height: 125px;
    width: 70%;
    margin: 0 auto;
}

#imgFeder {
    background: url("../images/logo_feder.png") no-repeat;
    background-size: contain;
    background-position: center;
    height: 10%;
    min-height: 90px;
    width: 50%;
    margin: 0 auto;
}

#txtFeder {
    margin-top: 1em;
}

#nombreApp {
    margin: 10px;
    width: 100%;
    text-align: center;
    /*text-shadow: 0 0 2px blue, 0 0 1px yellow;*/
    color: rgba(7, 41, 101, 0.85);
    /*background-color: #e7e5e4;*/
    letter-spacing: .1em;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #d3d0d0, -2px 4px 1px #d3d0d0;
}

#contenedor {
    border-radius: 5px 5px;
    border: 1px solid midnightblue;
    padding: 12px;
    /*display: none;*/
    /*background-color: #E4E4E4;*/
    background: rgb(184,198,223); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(184,198,223,1) 0%, rgba(109,136,183,1) 63%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(184,198,223,1) 0%,rgba(109,136,183,1) 63%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(184,198,223,1) 0%,rgba(109,136,183,1) 63%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8c6df', endColorstr='#6d88b7',GradientType=0 ); /* IE6-9 */
}
.ui-icon-myapp-email {
    background-image: url("http://icons.iconarchive.com/icons/iconsmind/outline/24/Deer-2-icon.png");
}

.app {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    width: 225px;
    text-align: center;
    padding: 180px 0 0 0;
    margin: -115px 0 0 -112px;
}

#enlaceParticipacion_Publica {
    width: 80%;
    margin: 0 auto;
    border: 1px solid midnightblue;
}

#enlaceResolucionesPublicas {
    width: 80%;
    margin: 5px auto;
    border: 1px solid midnightblue;
}

#pageone {
    height: 100%;
}

.logo2 {
    float: right;
}

.logoInaga {
    background: url("../images/logo_inaga.png") no-repeat;
    background-size: contain;
    width: 100%;
    height: auto !important;
    min-height: 125px;
}

.ui-bar-inherit {
    background: url("../images/banda.png") no-repeat scroll 0 0 #003153;
    float: left;
}

.Cabecera {
    background: #ffffff url(../images/banda.png) no-repeat left;
    width: 100%;
    height: 40px;
    box-shadow: 0 0 40px rgba(0,0,0,0.2);
    position: relative;
    z-index: 1;
    margin: 0;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position: left center;
        padding: 75px 0 75px 170px;
        margin: -90px 0 0 -198px;
    }
}

h1 {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: center;
}

h5 {
    text-align: center;
}

.event {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0 30px;
    padding: 2px 0;
}

    .event.listening {
        background-color: #333333;
        display: block;
    }

    .event.received {
        background-color: #4B946A;
        display: none;
    }

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
    -moz-animation: fade 3000ms infinite
}

/*.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}*/

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}